{% extends "download/wrapper.html" %}
{% block content %}
    <div class="container">
        <div class="text-center mt-2">
            <h2>Welcom to Youtube downloader!</h2>
        </div>
        {% if success %}
            <h4>{{ success }}</h4>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="col-lg-10 offset-lg-1 mt-5">
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter url link">
            </div>
            <div class="col-lg-4 offset-lg-5 mt-2">
                <button type="submit" class="btn btn-success">Download</button>
            </div>
        </form>
    </div>
{% endblock %}